.idea/
src/app/code/core/
src/app/code/local/
src/app/code/community/Phoenix/
src/app/locale/
src/app/design/frontend/

src/app/etc/
src/downloader/
src/errors/
src/includes/

src/lib/
src/media/
src/pkginfo/
src/shell/
src/skin/frontend/
src/skin/adminhtml/default/
src/var/
src/*.php
src/*.sh
src/*.ico
src/*.html
src/.htaccess
src/.htaccess.sample
src/*.sample
src/mage
src/*.txt
src/app/Mage.php
src/app/.htaccess

