.treynolds_qconfig_clear, .treynolds_qconfig_clear:hover {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;

    margin-left: -23px;
    background: url(../../../default/default/images/cancel_icon.gif) center center no-repeat;
    text-decoration: none;
}

.treynolds_qconfig_loading {
    background: url(ajax-loader.gif) top left no-repeat;
    display: none;
    position: absolute;
    width: 32px;
    height: 32px;
    top: -6px;
    left: -6px;
}
.treynolds_qconfig_loading.treynolds_loading {
    display: block;
}
.treynolds_qconfig_box_wrap {
    display: inline-block;
    /* IE7 Fix */
    zoom: 1;
    *display: inline;
    position: relative;
}
.treynolds_qconfig_box_wrap .treynolds_qconfig_no_results {
    /*background-color: #6F8992;*/
    background: url(../../../default/default/images/nav1_active.gif) center center no-repeat;
    color: #fff;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 0;
    opacity: 0;
    /* IE8 Fix */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE7 Fix */
    filter: alpha(opacity=0);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}
.treynolds_qconfig_box_wrap.no_results .treynolds_qconfig_no_results{
    opacity: 1.0;
    /* IE8 Fix */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE7 Fix */
    filter: alpha(opacity=100);
    height: 20px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#treynolds_qconfig_box{
    padding-right: 20px;
}
.treynolds_qconfig_field_count {
    float: right;
    text-align: center;
    padding: 0 7px;
    margin-right: 25px;
    background: url(../../../default/default/images/nav1_active.gif) center center no-repeat;
    border-radius: 8px;

}

#system_config_tabs.treynolds_searching dd.treynolds_active span b {
    float: right;
    color: #fff;
    background: url(../../../default/default/images/nav1_active.gif) center center no-repeat;
    padding: 0 4px;
    border-radius: 8px;

}

#system_config_tabs.treynolds_searching dd a ,
#system_config_tabs.treynolds_searching dd a:hover {
    background: #929292 none;

}
#system_config_tabs.treynolds_searching dd a span ,
#system_config_tabs.treynolds_searching dd a:hover span {
    cursor: no-drop;
    background: #929292 none;
}
#system_config_tabs.treynolds_searching dd a.active span ,
#system_config_tabs.treynolds_searching dd a.active:hover span {
    cursor: no-drop;
    background: #929292 none;
}
#system_config_tabs.treynolds_searching dd a.paypal-section:hover,
#system_config_tabs.treynolds_searching dd a.paypal-section  {
    padding: 0;
}
#system_config_tabs.treynolds_searching dd a.paypal-section:hover span ,
#system_config_tabs.treynolds_searching dd a.paypal-section span {
    height: auto;
    overflow: visible;
    width: auto;
    padding:.3em 0.5em .28em 1.5em;
}
#system_config_tabs.treynolds_searching {
    background: #929292 none !important;
}

#system_config_tabs.treynolds_searching .treynolds_active span {
    cursor: pointer !important;

    background:url(../../../default/default/images/tabs_link_bg.gif) repeat-y 100% #E7EFEF !important;
    font-weight: bold;
    border-radius: 12px;
}
#system_config_tabs.treynolds_searching .treynolds_active a.active  {
    border-bottom: 0;
}
#system_config_tabs.treynolds_searching .treynolds_active a.active span {
    background-color: #fff !important;
}
#system_config_tabs.treynolds_searching .treynolds_active a:hover span {
    background-color: #d8e6e6 !important;
}

#system_config_tabs.treynolds_searching .treynolds_active.treynolds_top span {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
#system_config_tabs.treynolds_searching .treynolds_active.treynolds_bottom span {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.entry-edit.treynolds_searching .entry-edit-head ,
.entry-edit.treynolds_searching .entry-edit-head a {
    background-color: #596f77;
    color: #cbcbcb;
    cursor: no-drop;
    font-weight: normal;
}
.entry-edit.treynolds_searching .entry-edit-head.treynolds_active {
    /*background-color: #7c98a2;*/
    padding: 2px 10px 2px 5px;
    cursor: pointer !important;
    color: #fff;
}
.entry-edit.treynolds_searching .entry-edit-head.treynolds_active a{
    border-radius: 9px;
    padding: 0 0 0 5px;
    background-color: #7c98a2;
    font-weight: bold;
    color: #fff;
    cursor: pointer !important;
}
.entry-edit.treynolds_searching .entry-edit-head.disabled a ,
.entry-edit.treynolds_searching .entry-edit-head.disabled.treynolds_active a {
    background-color: #c6cbc9;
}

.entry-edit.treynolds_searching fieldset ,
.entry-edit.treynolds_searching input ,
.entry-edit.treynolds_searching textarea ,
.entry-edit.treynolds_searching select {
    background-color: #a7a7a7;
}
.entry-edit.treynolds_searching tr {

}

.entry-edit.treynolds_searching tr.treynolds_active td {
    background-color: #fafafa !important;

}
.entry-edit.treynolds_searching tr.treynolds_active input ,
.entry-edit.treynolds_searching tr.treynolds_active select ,
.entry-edit.treynolds_searching tr.treynolds_active textarea {
    background-color: #fff !important;
}

.entry-edit.treynolds_searching tr.treynolds_active td:first-child{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.entry-edit.treynolds_searching tr.treynolds_active td:last-child{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    min-width: 12px;
}
.entry-edit.treynolds_searching tr.treynolds_active.treynolds_top td:first-child{
    border-bottom-left-radius: 0!important;
}
.entry-edit.treynolds_searching tr.treynolds_active.treynolds_top td:last-child{
    border-bottom-right-radius: 0!important;
}
.entry-edit.treynolds_searching tr.treynolds_active.treynolds_bottom td:first-child{
    border-top-left-radius: 0!important;
}
.entry-edit.treynolds_searching tr.treynolds_active.treynolds_bottom td:last-child{
    border-top-right-radius: 0!important;
}